-#= stylesheet_link_tag 'css/common'
-#= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cambo'

%script
  $(document).ready(function(){$(".gallery_thumb").colorbox();});

-if flash[:notice]
  .form_notice
    %ul
      %li
        = flash[:notice]

#wrapper
  %a#kickstarter{:href => "http://www.kickstarter.com"}
  #video
    <iframe src="http://player.vimeo.com/video/6177960?title=0&amp;byline=0&amp;portrait=0" width="453" height="260" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  #signup
    %h1 What is Tales of Oakvale?
    %p Tales of Oakvale is a text based MMORPG which puts the players in control of the story line. We're basically taking the concept of table-top, MUDs, and browser gaming, mixing it all together, and making something awesome ;)
    -if @betum.errors.any?
      .form_notice.error
        =render 'beta/beta_error', beta: @betum
    -elsif @betum.email
      .form_notice
        = render 'beta/success', beta: @betum
    #javascript_response
    -unless @betum.email && !@betum.errors.any?
      #signup_form
        =render 'beta/new_form', beta: @betum
  #gallery
    %a.gallery_thumb#gallery_1{ :rel=>"gal", :href => 'https://s3.amazonaws.com/oakvale-images/assets/map.jpg' }
    %a.gallery_thumb#gallery_2{ :rel=>"gal", :href => 'https://s3.amazonaws.com/oakvale-images/assets/armor_4.jpg'}
    %a.gallery_thumb#gallery_3{ :rel=>"gal", :href => 'https://s3.amazonaws.com/oakvale-images/assets/armor_3.jpg'}
    %a.gallery_thumb#gallery_4{ :rel=>"gal", :href => 'https://s3.amazonaws.com/oakvale-images/assets/armor_2.jpg'}
    %a.gallery_thumb#gallery_5{ :rel=>"gal", :href => 'https://s3.amazonaws.com/oakvale-images/assets/armor_1.jpg' }
    %a.gallery_thumb.gallery_last#gallery_6{ :rel=>"gal", :href => 'https://s3.amazonaws.com/oakvale-images/assets/book.jpg'}